<div ng-show="data.printUser" class="card" style="background-color:#FF9500; padding:5px; top:0px !important; margin: 0 auto !important;">
    <h1 class="title" style="background-color:#FF9500; font-family:sweet !important; text-align:center; font-size:30px; font-weight:bold; color:white;">PrintSnap</h1>
    <user-icon>
        <i class="fa fa-user fa-rnd fa-2x pull-left" style="color:white;"></i>
    </user-icon>
    <div class="pull-left" style="margin-left:15px;">
        <div style="font-family:roboto; font-weight: bold;color:white;">
         <!---->   <username ng-hide="!data.printUser" style="font-weight:bold; font-size:20px;">{{data.printUser}}</username> 
            <br/>
            <!----> 
            <email ng-hide="!data.printEmail" >{{data.printEmail}}</email>
        </div> 
    </div>
    <div class="pull-right">
        <app-menu>
            <i class="fa fa-ellipsis-h fa-rotate-90 fa-2x" style="color:white;"></i>
        </app-menu>
    </div>
</div>
