<ion-slide-box class="signup" ng-hide="data.printUser || islogedin">
      <ion-slide>

        <!-- Login Page -->

        <div class="col-sm-12" style="background:transparent;">
          <div style="background:transparent;">

            <div class="col-sm-12">
              <center style="margin:0 auto; padding-top:10px;">

                <img src="./img/user_logo.png" style="" alt="picSnap User">
                <img src="img/signup_right.png" alt="next" style="cursor:pointer;" ng-click="next()">
                <br/>
                <form style="" class="sform">
                  <h4 style="color:#f00; text-align:center;">{{ sb.errormessage }}</h4>
                  <input type="text" class="stxt" ng-model="sp.username" style="border-bottom: 1px;" name="printUser" placeholder="Username"/>
                  <div style="min-height:1px; max-height:1px;background-color:1px;"></div>
                  <input type="password" class="stxt" ng-model="sp.password" name="printPassword" placeholder="Password"/>
                  <div class="clear"></div>
                </form>

                <input type="button" class="sbtn btn" ng-click="s_dologin()" id="s_dologin" value="Sign in">
                <h4 style="color:white;">or</h4>
                <button class="ssocial sfb btn" ng-click="fb()" id="s_fb">
                  <i class="fa fa-facebook pull-left" style="padding:5px;"></i> | &#xA0;&#xA0; Login with facebook
                </button>
                <br/>
                <br/>
                <button class="ssocial sg btn" ng-click="gp()" id="s_google">
                  <i class="fa fa-google-plus pull-left" style="padding:5px;"></i> | &#xA0;&#xA0; Login with Gmail
                </button>
                <br/>
                <br/>
                <h4 style="color:#ff9800;">Slide to Sign Up</h4>
                <br/>
                <br/>
              </center>
            </div>
            <br/>
            <br/>
          </div>
        </div>

        <!-- EO - Login Page -->

      </ion-slide>
      <ion-slide>
       
        <!-- Signup Page -->
        
      <div class="" style="background:transparent;">
           <div style="background:transparent;">
             
              <div class="col-sm-12">
                 <center style="margin:0 auto; padding-top:10px;">
                    
                     <img src="img/signup_left.png" style="cursor:pointer;" alt="next" ng-click="prev()">
                     <img src="./img/user_logo.png" style="" alt="picSnap User">
                     <img src="img/signup_right.png" style="cursor:pointer;" alt="next" ng-click="next()">
                    <br/>
                    <form style="" class="sform">
                        <h4 style="color:#f00; text-align:center;">{{ sb.errormessage }}</h4>
                        <input type="text" ng-model="sp.username" class="stxt" style="border-bottom: 1px;" name="printUser" placeholder="Username"/>
                            <div style="min-height:1px; max-height:1px;background-color:1px;"></div>
                        <input type="password" ng-model="sp.password" class="stxt" name="printPassword" placeholder="Password"/>
                            <div style="min-height:1px; max-height:1px;background-color:1px;"></div>
                        <input type="password" ng-model="sp.password2" class="stxt" name="printPassword2" placeholder="Password Again"/>
                            <div style="min-height:1px; max-height:1px;background-color:1px;"></div>
                        <input type="email" ng-model="sp.email" class="stxt" style="border-bottom: 1px;" name="printEmail" placeholder="Email Address"/>
                        
                        <div class="clear"></div>
                    </form>
                    
                    <input type="button" ng-click="s_dosignup()" class="sbtn btn" id="s_dosignup" value="Sign Up">
                     <br/>
                     <br/>
                     <h4 style="color:#ff9800;">Slide to Finish</h4>
                     <br/>
                     <br/>
                     <br/>
                 </center>    
             </div>
              <br/><br/>
           </div>
        </div>  
        
      <!-- EO - Signup Page -->
       
      </ion-slide>
      <ion-slide>
       
          <!-- Verify Registration -->
      
        <div class="" style="background:transparent;">
           <div style="background:transparent;">
             
              <div class="col-sm-12">
                 <center style="margin:0 auto; padding-top:10px;">
                     <img src="img/signup_left.png" style="cursor:pointer;" alt="next" ng-click="prev()">
                     <img src="./img/user_logo.png" style="" alt="picSnap User">
                     <img src="img/signup_right.png" style="cursor:pointer;" alt="next" ng-click="next()">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                     <br/>
                     <br/>
                     <h4 style="color:#ff9800;">Get Started</h4>
                     <br/>
                     <br/>
                     <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                 </center>    
             </div>
              <br/><br/>
           </div>
        </div>  
        
        <!-- EO - Verify Registration -->
        
          
      </ion-slide>
    </ion-slide-box>