<div ng-show="data.printUser" class="col-sm-12">
    
    <input type="text" ng-model="sp.album" class="" />
    
	<div class="padding col-sm-12" style="">

		<button class="button button-block button-balanced" ng-click="selImages()" ng-disabled=""><!-- !ready -->
			Select Images
		</button>
		 
        <center> 
            <p ng-repeat="img in images">
                <img ng-src="{{img}}" style="max-width:250px;max-height:250px" />
            </p>
        </center>
       
       <button class="button button-block button-balanced" ng-click="uploadImages()" ng-show="isMultiple()">Upload Images</button>
       <button class="button button-block button-balanced" style="background: red;" ng-click="clearImages()" ng-show="isMultiple()">Start Again</button>
        <br>
		<p ng-style="color:{{color}}"  ng >{{umessage}}</p>  
		 
	</div>
	
</div>