/*!
    INITIALIZE THE ROBOTO FONT
*/
@font-face {
    font-family: roboto;
    src: url("./../fonts/Roboto-Light.ttf");
}
/*!
    INTIALIZE THE SWEETLY BROKEN FONT
*/
@font-face {
    font-family: sweet;
    src: url("./../fonts/Sweetly_Broken.ttf");
}

/*
    ADD CIRCLES TO THE FA ICONS 
*/
.fa-rnd
{
    padding: 10px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px #fff;
  box-shadow: 1px 1px 2px #fff;
}

input{
    border-bottom-color: black;
    border-bottom: 1px !important;
}

/*
    THE POINTER ICON SPECIFIER
*/
app-menu {
    cursor: pointer;
}
/* STARTUP PAGE */

/* LOGIN FORM */
.sform{
    padding:1em;
    width:90% !important;
    margin:0 auto;
    opacity:0.9;
}
.sbtn{
    padding:0.2em;
    width:70% !important;
    margin:0 auto;
    background-color: #ff9800 !important;
    color:white !important;
    font-size:1em;
    font-family: roboto;
    font-weight: bold;
    border: 0px;
    height: 2em;
}
.ssocial{
    padding:0.4em;
    width:70% !important;
    margin:0 auto;
    color:white !important;
    font-size:1em;
    font-family: roboto;
    font-weight: bold;
    border: 0px;
    height: 20% !important;
}

.sfb{
    background-color: #366df9 !important;
    font-family: roboto;
    font-size: 11px;
    text-align: left;
}

.sg{
    background-color: dimgrey !important;
    font-family: roboto;
    font-size: 11px;
    text-align: left;
}

.stxt{
    width:90%;  
    text-align: center !important;
    color: orangered !important;
}
.signup{
    background: url(../img/signup_bg.png);
    background-size: cover;
}
/* EO - LOGIN FORM */
